<?xml version="1.0" encoding="UTF-8" ?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<!--
  This file is part of the DITA Bootstrap Custom CSS plug-in for DITA Open Toolkit.
  See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="net.infotexture.dita-bootstrap.sass" version="1.0.0">
  <require plugin="net.infotexture.dita-bootstrap" />
  <feature extension="ant.import" file="process_themes.xml" />
  <feature extension="bootstrap.process.pre" value="bootstrap.sass" />
  <feature extension="dita.xsl.messages" file="resource/messages.xml" />
  <transtype
    name="html5-bootstrap"
    extends="html5"
    desc="HTML5 with Bootstrap style"
  >
    <param
      name="bootstrap.sass"
      desc="Specifies whether to incorporate pregenerated Bootstrap sass"
      type="enum"
    >
    	<val>yes</val>
    	<val default="true">no</val>
    </param>
	</transtype>
	

	<transtype
    name="sass-bootstrap"
    extends="base"
    desc="Generate a Bootstrap style from Sass"
  >
  </transtype>
</plugin>
