<?xml version="1.0" encoding="UTF-8" ?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<!--
  This file is part of the DITA Bootstrap Custom CSS plug-in for DITA Open Toolkit.
  See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="net.infotexture.dita-bootstrap.sass" version="1.0.0">
  <require plugin="net.infotexture.dita-bootstrap" />
  <feature extension="ant.import" file="process_themes.xml" />
  <feature extension="bootstrap.theme.pre" value="bootstrap.sass" />
  <transtype
    name="html5-bootstrap"
    extends="html5"
    desc="Generate Bootstrap style from sass"
  >
    <param
      name="bootstrap.sass"
      desc="Specifies which sass to use"
      type="file"
    />
	</transtype>
</plugin>



